{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block page_name %}
	Reset Password
{% endblock %}

{% block Content %}
    <h1>Reset Password Page</h1>
    <h2>hello {{ user.username }}</h2>
    <p>Are you sure you want to reset your password?</p>
    <p>if so Complete this form and we're going to send you an email</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-danger mt-2" type="submit">Change</button>
    </form>
{% endblock %}