{% extends '_base.html' %}

{% block page_name %}
	User Blogs
{% endblock %}

{% block Content %}
	<h1>User Blogs</h1>
    <p>This page is all of your Blogs , <br>
        nor actives or non-actives
    </p>
    {% for blog in blogs %}
    	<h3>Blog number: {{ forloop.counter }}</h3>
        <h3>title: {{ blog.title }}</h3>
        <h5>status: {{ blog.active }}</h5>
        <p>Blog: <br>
            {{ blog.post }}
        </p>
        <a href="{% url 'blog:blog_update' blog.id%}" class="text-decoration-none">Edit</a>
        <span> |</span>
        <a href="{% url 'blog:blog_delete' blog.id%}" class="text-decoration-none">Delete</a>
        <hr>
    {% endfor %}

{% endblock %}